@model ToDo.Models.Task
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        <div class="col-md-2"><h4>Edit task</h4></div>
        <div class="col-md-offset-1 col-md-9">
            @Html.HiddenFor(model => model.Id)

            @Html.TextBoxFor(model => model.Name, new {@class = "form-control", @placeholder = "Description task"})
            @Html.ValidationMessageFor(model => model.Name)

            @Html.DropDownListFor(model => model.ProjectId, ViewBag.Projects as SelectList, "Project Name", new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.ProjectId)
            <input type="submit" value="Save" class="btn btn-default"/>
        </div>
    }
</div>